body {
	background-color: #590D22;
	color: #FFB3C1;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 25px;
}

.guessBtn {
	background-color: #FF4D6D;
	width: 50px 50px;
	height: 50px;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

.numberGuess {
	/* padding: 4em; */
	/* width: 70px; */
	/* height: 70px; */
	text-align: center;
	font-size: 25px;
	margin: auto;
}

.container {
	background-color: #C9184A;
	width: 250px 350px;
	align-items: center;
	margin: 5%;
	text-align: center;
	padding: 1%;
	padding-bottom: 1%;
	border-radius: 10%;

}

.message {
	font-weight: bolder;
	padding-bottom: 1%;
	text-align: center;
}

